body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Shadows Into Light Two', cursive;
  background-color: #cfd760;
}

h1 {
  color: #165e00;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.blogcontainer {
display: flex;
flex: 1;
}

.posts {
  /* color: white;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 25rem;
  border-radius: 0.4rem; */
  /* background-color: #68829e; */
}


@media only screen and (max-width: 320px) {
  .posts, .recententries, .otherblogs {
    
  }
}

@media only screen and (max-width: 768px) {
  .posts, .recententries, .otherblogs {

  }

}

@media only screen and (max-width: 1280px) {
  .posts, .recententries, .otherblogs {

  }
}